src/main/xsd/properties.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="general">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="defaultPath"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="proxy">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="host"/>
                            <xs:element type="xs:string" name="port"/>
                            <xs:element type="xs:string" name="login"/>
                            <xs:element type="xs:string" name="password"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>