src/main/xsd/savedpresets.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="savedpresets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="session" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:anyURI" name="url"/>
                            <xs:element name="method">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="GET"/>
                                        <xs:enumeration value="POST"/>
                                        <xs:enumeration value="PUT"/>
                                        <xs:enumeration value="DELETE"/>
                                        <xs:enumeration value="HEAD"/>
                                        <xs:enumeration value="TRACE"/>
                                        <xs:enumeration value="OPTIONS"/>
                                        <xs:enumeration value="CONNECT"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:anyURI" name="headers"/>
                            <xs:element type="xs:string" name="body"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>